./AUTHORS
./COPYING
./ChangeLog
./INSTALL
Makefile
Makefile.in
./NEWS
./README
./aclocal.m4
autom4te.cache/
./config.*
./configure
./install-sh
./libtool
./ltmain.sh
./missing
./stamp-h1
.deps
.libs
./depcomp
*.la
