gen
objs
libs
bin
obj
local.properties
*~
*.o
*.lo
Makefile.in
Makefile
/assets/*.png
/assets/*.atlas
/assets/*.pvr
/assets/*.pkm
/assets/*.road
/assets/realrect.bound
/assets/fonts/*
jni/stamp-h1
jni/missing
jni/ltmain.sh
jni/libtool
jni/install-sh
jni/depcomp
jni/configure
jni/config.sub
jni/config.status
jni/config.log
jni/config.hpp.in
jni/config.hpp
jni/config.guess
jni/aclocal.m4
jni/README
jni/NEWS
jni/INSTALL
jni/ChangeLog
jni/COPYING
jni/AUTHORS
build/Organizer-*.build
jni/graphlib/make_bitmap_font
jni/test/.DS_Store
.DS_Store
/graphics/wvga/*
/graphics/ios/
redneckracer.xcworkspace
redneckracer.vpj
redneckracer.vpw
redneckracer.vpwhistu
redneckracer.vtg
cppcheck-result.xml
/RedneckRacer
/redneckracer/build
/redneckracer/redneckracer.xcodeproj/dan.mode1v3
/redneckracer/redneckracer.xcodeproj/dan.pbxuser
RedneckRacer/RedneckRacer.xcodeproj/michael.mode1v3
RedneckRacer/RedneckRacer.xcodeproj/michael.pbxuser
